<div id="<%= dom_id cart_item %>">
  <div>
    <strong>Cart:</strong>
    <%= cart_item.cart_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= cart_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= cart_item.quantity %>
  </div>

</div>
