/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide stylesheets in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning stylesheets declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing stylesheets into separate files for maintainability.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
