<p style="color: green"><%= notice %></p>

<% content_for :title, "Pickup points" %>

<h1>Pickup points</h1>

<div id="pickup_points">
  <% @pickup_points.each do |pickup_point| %>
    <%= render pickup_point %>
    <p>
      <%= link_to "Show this pickup point", pickup_point %>
    </p>
  <% end %>
</div>

<%= link_to "New pickup point", new_pickup_point_path %>
