<%# if flash[:alert] %>
<!--  <div class="mb-6 px-4 py-3 bg-red-600 text-white rounded-lg">-->
    <%#= flash[:alert] %>
<!--  </div>-->
<%# elsif flash[:notice] %>
<!--  <div class="mb-6 px-4 py-3 bg-green-600 text-white rounded-lg">-->
    <%#= flash[:notice] %>
<!--  </div>-->
<%# end %>

<%= render 'form' %>